body{
	background-color: NavajoWhite;
}
p.log label{
	color: brown;
}
p.log:nth-child(even){
	margin-bottom: 20px;
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: brown;
}
p.log:nth-child(odd){
	border-width: 2px 2px 0px 2px;
	border-style: solid;
	border-color: brown;
}
p.log{
	background-color: rgb(220,174,165);
	padding: 10px;
	margin: 0px;
}
header{
	background-color: brown;
	width: 100%;
	display: block;
	padding-top: 3%;
	padding-bottom: 3%;
}
.busqueda *:not(legend){
	padding: 5px;
	margin: 5px;
}
.busqueda2{
	border-width: 2px 0px 2px 0px;
	border-style: dashed;
	border-color: brown
}
.ver div{
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	border-width: 0px 0px 2px 0px;
	border-style: dotted;
	border-color: brown;
	margin-bottom: 15px;
}
.ver div p{
	display: block;
	margin: 2px 15px 15px 15px;
}
.ver label{
	color: brown;
}
.ver{
	background-color: rgb(220,174,165);
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 3%;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: brown;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}
.borrarusuario{
	background-color: rgb(220,174,165);
	padding: 10px;
	margin-bottom: 0px;
	margin-top: 3%;
	border-width: 2px 2px 2px 2px;
	border-style: solid;
	border-color: brown;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
}
.borrarusuario .img1{
	width: auto;
}
.borrarusuario div:nth-child(even){
	width: auto;
	max-width: 70%;
	padding: 10px;
	border-width: 0px 0px 0px 2px;
	border-style: dashed;
	border-color: brown;
  display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
.borrarusuario label{
	color: brown;
}
.borrarusuario p{
	padding: 5px;
}
.borrarusuario form input{
	margin: 10px;
	
}
.borrarusuario form{
	width:100%;
	display: flex;
	justify-content: center;
}
.nuevaincidencia, .incidencia,.nuevoUsuario, fieldset{
	background-color: rgb(220,174,165);
}

.comentario{
	background-color: rgb(220,174,165);
	padding: 10px;
	margin: 0px;
	border-width: 0px 2px 2px 2px;
	border-style: solid;
	border-color: brown;
	display: flex;
	justify-content: space-around;
}
main .comentario:last-of-type{
	margin-bottom: 3%;
}
.comentario label{
	color: brown;
}

.incidencia{
	margin: 5px;
	margin-bottom: 20px;
	padding: 10px;
	border-width: 2px;
	border-color: brown;
	border-style: solid;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}
.incidencia p:first-child{
	width: 100%;
	border-width: 0px 0px 3px 0px;
	border-style: dotted;
	border-color: brown;
}
.incidencia p{
	display: flex;
	margin: 10px 20px 10px 5px;
}
.incidencia label{
	color: brown;
}

legend{
	padding: 10px;
	background-color:#c580d0;
	border-block-width: 2px;
	border-radius: 10px;
}

.correcto{
	font-size: 22px;
	width: auto;
	padding: 3%;
	text-align: center;
	background-color: #bce477;
}
.error{
	font-size: 22px;
	width: auto;
	padding: 3%;
	text-align: center;
	background-color: #f77451;
}

.titulo{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	font-size: 22px;
}

header > h2{
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: center;
	color: #c28a6d;
	font-size: 100%;
}
nav{
	background-color: rgb(220,174,165);
	width: 100%;
	direction: flex;
	justify-content: center;
}

nav ul{
	display: flex;
	justify-content: space-around;
	text-align: center;
	width: auto;
	padding: 0px;

}
nav li{
	list-style-type: none;
	padding: 1%;
	width: auto;
	background-color:#c580d0;
	border-block-width: 2px;
	border-radius: 10px;
}
nav li a{
	display: flex;
	text-align: center;
	width: auto;
	color: black;
	text-decoration: none;
}
.contenido{
	width: 100%;
}
.logeo{
	background-color: 
  padding: 1px;
	border-width: 0px 0px 2px 0px;
	border-color: brown;
	border-style: dashed;
}
.logeo > form{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.otros{
	display: flex;
	flex-direction: column;
	text-align: left;
	border-width: 2px 0px 0px 0px;
	border-color: brown;
	border-style: dashed;
	font-size: 17px;
	padding: 5px;
}
.otros li{
	font-size: 12px;
}
.otros *{
	background-color: rgb(220,174,165);
	list-style-position: inside;
}
.otros ul li{
	list-style-type: ;
}
main{
	float: left;
	width: 68%;
	margin-left: 2%;
	margin-right: 15px;
}
main h2{
	padding: 2px;
	border-width: 0px 0px 2px 0px;
	border-color: brown;
	border-style: solid;
}
.ponerusuario{
	margin: 10px;
	display: flex;
	flex-direction: column;
}
.ponerusuario > form{
	margin-top: 20px;
}
aside{
	background-color: rgb(222,184,135);
	display: flex;
	float: right;
	flex-direction: column;
	width:25%;
	padding: 10px;
	margin: 5px;
	height: auto;
}
.correcto{
	font-size: 22px;
	width: auto;
	padding: 3%;
	text-align: center;
	background-color: #bce477;
}

.error{
	font-size: 22px;
	width: auto;
	padding: 3%;
	text-align: center;
	background-color: #f77451;
}

.gestion{
	padding: 5px 0px 20px 0px;
	border-width: 0px 0px 2px 0px;
	border-color: brown;
	border-style: dashed;
}

.ListarUsuario{
	background-color:rgb(220,174,165);
	padding: 5px;
	border-width: 2px 2px 2px 2px;
	border-color: brown;
	border-style: dotted;
	margin: 8px;
	display: flex;
	align-items: center;
}
.ListarUsuario .img{
	margin-right: 10px;
	border-width: 0px;
	max-width: 30%;
	width: auto;
}
.ListarUsuario form{
	display: flex;
	width: auto;
  flex-direction: column;
	align-items: center;
}
.ListarUsuario form input{
	margin: 10px;
}

.ListarUsuario div{
	border-width: 0px 1px 0px 1px;
	padding: 15px;
	border-color: brown;
	border-style: solid;
	width: 65%
}

footer{
	background-color: brown;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-top: 10px;
}
footer ul{
	display: flex;
	width: 95%;

}
footer li{
	margin: 2px;
	list-style-type: none;
}
footer a{
	display: flex;
	text-align: center;
}

@media screen and (max-width: 1000px){
	.contenido{
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
		main{
			width: 100%;
		}
		aside{
			width: 100%;
		}
	.otros{
		display: none;
	}
}